<div class="main-header">
    <div class="container">
        <h1>Two panel App</h1>
    </div>
</div>
<div class="container">

    <mat-card class="panel">
        <div class="panel__header">
            <app-sorting [(sortItems)]="itemsListLeft" [method]="'name'"></app-sorting>
            <app-filter [type]="'text'"></app-filter>
        </div>
        <mat-card-content>
            <app-list [(listItems)]="itemsListLeft"></app-list>
        </mat-card-content>
    </mat-card>

    <mat-card class="panel panel--info">
        <div class="panel__header">
            Info
        </div>
        <mat-card-content>
            <p>
                name: Some Name
            </p>
            <p>
                flags: Some Name
            </p>
        </mat-card-content>
    </mat-card>

    <mat-card class="panel">
        <div class="panel__header">
            <app-filter [type]="'checkbox'" *ngFor="let filter of filters" [method]="filter"></app-filter>
        </div>
        <mat-card-content>
            <app-list [listItems]="itemsListRight"></app-list>
        </mat-card-content>
    </mat-card>
</div>